<%%= ext_error_messages_for :<%= singular_name %> %>
<%= template_for_inclusion %>
<% if with_images -%>
<!--
	For multiple images:
	1) Add to boxImage float:left;margin:5px;margin-left:0px
	2) Add before label_image <br style="clear:both" />
-->
<div class="label">
	<%% if @<%= singular_name %> && @<%= singular_name %>.image %>
		<div class="boxImage" style="width:<%%= @<%= singular_name %>.image.get_thumbnail(:thumb).width %>px;">
			<div><%%= image_tag(@<%= singular_name %>.image.public_filename(:thumb)) %></div>
			<div style="text-align:center;padding:5px"><%%= link_to "Destroy", {:action => :destroy_image, :id => @<%= singular_name %>}, {:confirm => "Are you sure to destroy this image?", :method => :delete} %></div>
		</div>
	<%% end %>
</div>
<div class="label_image">
	<h3>Image</h3>
	<div>Browse: <%%= file_field :image, :uploaded_data %></div>
	<div class="description">Select your prefered image</div>
</div>
<% end -%>
