<%%= ext_error_messages_for :<%= singular_name %> %>
<%= template_for_inclusion %>
<%- if with_images -%>
<div class="label">
<%- images.each_with_index do |image, index| -%>
	<%% if @<%= singular_name %> && @<%= singular_name %>.<%= image.downcase %>? %>
		<div class="boxImage" style="float:left;margin:5px;margin-left:0px">
			<div class="boxTitle">Image <%= index + 1 %></div>
			<div><%%= image_tag(@<%= singular_name %>.<%= image.downcase %>.url) %></div>
			<div style="text-align:center;padding:5px"><%%= link_to "Destroy", {:action => :destroy_<%= image.downcase %>, :id => @<%= singular_name %>}, { :confirm => "Are you sure to destroy this image?", :method => :delete } %></div>
		</div>
	<%% end %>
<%- end -%>
</div>
<%- end -%>
<%- if with_images -%>
<br style="clear:both" />
<%- end -%>
<%- files.each_with_index do |file, index| -%>
<div class="label">
	<%% if @<%= singular_name %> && @<%= singular_name %>.<%= file.downcase %>? %>
		<div class="file">
			File <%= index + 1 %>: <%%= link_to(@<%= singular_name %>.<%= file.downcase %>.original_filename, @<%= singular_name %>.<%= file.downcase %>.url) %>
			(<%%= link_to "Destroy", {:action => :destroy_<%= file.downcase %>, :id => @<%= singular_name %>}, { :confirm => "Are you sure to destroy this image?", :method => :delete } %>)
		</div>	
	<%% end %>
</div>
<%- end -%>

<%- images.each_with_index do |image, index| -%>
<div class="label_image">
	<h3>Image <%= index + 1 %></h3>
	<div>Browse: <%%= file_field :<%= singular_name %>, :<%= image.downcase %> %></div>
	<div class="description">Select your image <%= index+1 %></div>
</div>
<%- end -%>

<%- files.each_with_index do |files, index| -%>
<div class="label_image">
	<h3>File <%= index + 1 %></h3>
	<div>Browse: <%%= file_field :<%= singular_name %>, :<%= files.downcase %> %></div>
	<div class="description">Select your file <%= index+1 %></div>
</div>
<%- end -%>
