<%= ext_error_messages_for :menuitem %>
<!--[Lipsiasoft s.r.l.:menu]-->
<div class="label">Name</div><div><%= text_field :menuitem, :name, :style => "width:100%"  %></div>
<div class="label">Menu</div><div><%= text_field :menuitem, :menu, :style => "width:100%"  %></div>
<div class="label">Url</div><div><%= text_field :menuitem, :url, :style => "width:100%"  %></div>
<div class="label">Style</div><div><%= text_field :menuitem, :style, :style => "width:100%"  %></div>
<div class="label">Position</div><div><%= text_field :menuitem, :position, :style => "width:100%"  %></div>
<div class="label"><%= check_box :menuitem, :admin %> <%= label :menuitem, :admi, "Is only for admin?" %></div>
<!--[Lipsiasoft s.r.l.:menu]-->

