<html>
<head>
	<title><%= Lipsiadmin::versioned_name %></title>
	<%= stylesheet_link_tag "/javascripts/resources/css/ext-all" %>
	<%= stylesheet_link_tag "backend", :cache => "Lipsiadmin" %>
	<%= javascript_include_tag :defaults, :cache => "Prototype" %>
	<%= javascript_include_tag "ext-prototype-adapter", "ext-all", "search-field", "memory-proxy", "locale/ext-lang-en", "date-time", :cache => "Lipsiadmin" %>
	<%= javascript_include_tag "backend" %>
	<% if yield(:style) %>
		<style type="text/css" media="screen">
			<%= yield(:style) %>
		</style>
	<% end %>
	<% if yield(:script) %>
		<script type="text/javascript" charset="utf-8">
			<%= yield(:script) %>
		</script>
	<% end %>
	<%= yield(:head) %>
</head>
<body>
	<span></span>
	<div id="header">
		<div id="logo"><%= link_to image_tag("backend/logo.png"), backend_path %></div>
		<div id="logout"><div id="logout-text"><%= link_to "Logout #{current_account.email}", backend_session_path(1), :method => :delete %></div></div>
	</div>
	<% for menuitem in Menuitem.find(:all, :order => :position, :group => :menu, :conditions => ["admin = ?", current_account.admin ]) %>
		<ul id="admin-<%= menuitem.id %>">
			<% for item in Menuitem.find(:all, :conditions => {:menu => menuitem.menu}) %>
				<li>
					<img src="/javascripts/resources/images/default/s.gif" class="<%= menuitem.style %>"/>
					<%= link_to item.name, item.url %>
				</li>
			<% end %>
		</ul>
	<% end %>
	<%= yield %>
</body>
</html>